// * normalize styles
@import "../../node_modules/modern-normalize/modern-normalize.css";

// * variables here

// * fonts here
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  // set font-size to 10px for rem units
  // use percentage to repect users default browser font size (scales)
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  // color: var(--color-gray-800);
  min-height: 100vh;
  overflow-x: hidden;
}

// * heading styles
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-garamond);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: oklch(97.9% 0.021 166.113);
}

h1 {
  font-size: 5.6rem;
}

h3 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

// * form elements
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

input,
textarea,
select {
  border: none;
}

input {
  padding: 0.8rem 1.2rem;
  background-color: oklch(96.8% 0.007 247.896);
  border-radius: 8px;
}
