.page {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  padding-top: 12.8rem;
}

.backgroundImage {
  position: absolute;
  object-fit: cover;
  object-position: right top;
  width: 100%;
  height: 100%;
  filter: brightness(1.25);
  z-index: -1;
}

.leaderboard {
  padding: 2.4rem;
  grid-column: 2/7;
  justify-self: center;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.leaderboardList {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.position {
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1.2rem;
  padding-left: 14rem;
  border: 1px solid #eee;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);

  display: grid;
  gap: 1.6rem;
  grid-template-columns: max-content 1fr;
  justify-items: end;

  & .rank {
    position: absolute;
    top: 50%;
    left: 4.8rem;
    translate: 0 -50%;

    & h3 {
      font-size: 4rem;

      &.gold {
        background-image: url("/gold-bg.jpg");
        background-size: 300%;
        background-position: 0% 0%;
        background-clip: text;

        scale: 2.6;
        rotate: -10deg;
        line-height: 1;
        font-weight: 600;
        color: transparent;

        animation: 3s linear positionAnimation infinite;
      }

      &.silver {
        background-image: url("/silver-bg.jpg");
        background-size: 300%;
        background-position: 0% 0%;
        background-clip: text;

        scale: 2.6;
        rotate: -10deg;
        line-height: 1;
        font-weight: 600;
        color: transparent;

        animation: 3s linear positionAnimation infinite;
      }

      &.bronze {
        background-image: url("/bronze-bg.jpg");
        background-size: 300%;
        background-position: 0% 0%;
        background-clip: text;

        scale: 2.6;
        rotate: -10deg;
        line-height: 1;
        font-weight: 600;
        color: transparent;

        animation: 3s linear positionAnimation infinite;
      }
    }
  }
}

@keyframes positionAnimation {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 0%;
  }
}

.link {
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  color: oklch(96.8% 0.007 247.896);
  font-size: 1.6rem;
}
